/*
1.9 Button Warning Hold
*/

.button_warning_hold{
	padding: 15px;
	font-size: 1.42rem;
	border: 2px solid @warningcolor;
	font-family: 'Quicksand', sans-serif;
	background-color: @warningcolor;
	color: @whitecolor;
}