/*
1.6 Button Secondary
*/

.button_secondary{
	padding: 15px;
	font-size: 1.42rem;
	border: 2px solid @secondarycolor;
	font-family: 'Quicksand', sans-serif;
	transition: @animationdur;
	&:hover {
		background-color: @secondarycolor;
		color: @whitecolor;
	}
}