/*
1.13 Font
*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Lato:400,700,900,300);

@primaryfont: 'Quicksand', "sans-serif";
@secondaryfont: 'Lato', "sans-serif";

.primaryfont {
	font-family: @primaryfont;
}

.secondaryfont {
	font-family: @secondaryfont;
}