/*
1.1 input
*/

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
	-webkit-appearance: none;
}

input,
textarea {
	width: 100%;
	border: 1px solid @graycolor;
	padding: 0.5em 0.65rem;
	font-family: inherit;
	font-size: 100%;
	margin: 0 1px 0;
}