/*
1.1 input
*/

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
	-webkit-appearance: none;
}

input,
textarea {
	font-family: @primaryfont;
	width: 100%;
	border: 2px solid #333;
	padding: 0.7em 0.7rem;
	font-family: inherit;
	font-size: 100%;
	margin: 5px 1px 0;
}